*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

::selection{
    background-color: var(--accent-clr);
    color: var(--secondary-clr);
}


/* fonts */

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

:root{
    /* color */
    --primary: #1F2937;
    --secondary-clr: #E5E7EB;
    --accent-clr: #3882F7;
    --hero-head-clr: #F9FAF8;
    

    /* fonts */
    --ff: roboto, sans-serif;
    --fs-xl: 3rem;
    --fs-lg: 2.25rem;
    --fs-md: 1.5rem;
    --fs-sm: 1.125rem;
    --fw-900: 900;

    --px: 2rem;
    --pt: 10rem;
}

@media screen and (max-width: 768px) {
    :root{
        --fs-xl: 2.25rem;
        --fs-lg: 1.85rem;
    }
}

@media screen and (max-width: 560px) {
    :root{
        --fs-xl: 2rem;
        --fs-lg: 1.65rem;
        --fs-md: 1.3rem;
    }
}

/* utilities */
.container-xl{
    width: min(1200px, 100vw);
    margin-inline: auto;
}

.container-md{
    width: min(900px, 100vw);
    margin-inline: auto;
}

.btn{
    padding: .5rem 2rem;
    border: 1px solid var(--accent-clr);
    border-radius: .7rem;
}

.primary{
    background: var(--accent-clr);
    transition: .3s ease-in-out;

    &:hover{
        opacity: .8;
    }
}

.secondary{
    border: 1px solid var(--hero-head-clr);
    transition: .3s ease-in-out;

    &:hover{
        background-color: var(--secondary-clr);
        color: var(--accent-clr);
    }
}

.cursor-shuriken{
    cursor: url(../assets/cursor.svg), auto;
}

img, video, svg{
    width:100%;
    height:100%;
    display: block;
}

a{
    color: var(--secondary-clr);
    text-decoration: none;
}


body{
    font-family: var(--ff);
    font-size: var(--fs-sm);
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--secondary-clr);
    cursor: url(../assets/cursor.svg), auto;
}

/* header navigation */

header{
    background:var(--primary);
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;

    & .container-xl {

        & .flex-container{
            display:flex;
            align-items:center;
            justify-content:space-between;
            margin-inline: var(--px);
            
            .logo{
                width: 50px;
                padding-block: 2rem;
            }

            & nav{
                & a{
                    padding: .5rem 1.5rem;
                    transition: .3s ease-in-out;

                    &:hover{
                        color:var(--accent-clr);
                    }
                }

                & .cta-btn{
                    background-color: var(--accent-clr);
                    color:var(--secondary-clr);
                    border-radius: .5rem;
                    transition: .3s ease-in-out;

                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }
    }
}

#toggle{
    width:55px;
    aspect-ratio: 1;
    position: relative;


    & span{
        position:absolute;
        background: var(--secondary-clr);
        width:80%;
        height:5px;
        border-radius:5px;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease-in-out;
    }

    & span:nth-child(1){
        top:25%;
    } 

    & span:nth-child(2){
        width:60%;
    }

    & span:nth-child(3){
        top:75%;
    } 
}

#hamburger, #toggle{
    display:none;
}

#hamburger:checked ~ #toggle span:nth-child(2){
    display: none;
}

#hamburger:checked ~ #toggle span:nth-child(1){
    top:50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: .3s ease-in-out;
}

#hamburger:checked ~ #toggle span:nth-child(3){
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: .3s ease-in-out;
}


@media screen and (max-width: 900px){
    #toggle{
        display:block;
    }

    header .container-xl .flex-container nav{
        display:none;
    }

    #hamburger:checked ~ nav{
        display:block;
        position:absolute;
        top:100%;
        left:0;
        width:100vw;
        background: var(--primary);
        height: calc(100vh - 100px);

        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        & a:nth-child(1){
            margin-top: 3rem;
        }
    }
}


/* hero section */

.hero-section{
    color: var(--secondary-clr);
    background-color: var(--primary);
    padding: var(--pt) 0;
    border-radius: 0 0  10% 0;

    & .flex-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: var(--px);

        & .hero-text{
            width: 45%;

            & h1{
                font-size: var(--fs-xl);
                font-weight: var(--fw-900);
                line-height: 1;
            }

            & p{
                margin-block: 2rem;
            }
        }

        & .hero-image{
            width: 45%;
            
            & img{
                border-radius: .5rem;
                transition: .3s ease-in-out;

                &:hover{
                    transform:scale(.95);
                }
            }
        }
    }
}


@media screen and (max-width: 1000px){
    .hero-section .flex-container{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 3rem;

        & .hero-image{
            width: 80%;
        }

        & .hero-text{
            width: 100%;
            text-align: center;
        }
    }
}


/* information section */

.information{
    padding: var(--pt) 0;

    & h2{
        font-size: var(--fs-lg);
        text-align: center;
        margin-bottom: 3rem;
    }

    & .container-md{
        padding-inline: var(--px);
    }
}

.information .grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;

    & .grid-item{

        & img{
            height: 250px;
            object-fit: cover;
            border-radius: 1rem;
            transition: .3s ease-in-out;

            &:hover{
                transform: scale(1.05);
            }
        }

        & p{
            text-align: center;
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    .information .grid{
        grid-template-columns: repeat(2, 1fr);
    }    
}


@media screen and (max-width: 767px) {
    .information .grid{
        grid-template-columns: 1fr;
        gap: 5rem;

        & .grid-item{

            & img{
                height: 90%;
            }
        }
    }
}


/* testimonial section */

.testimonial{
    background-color: var(--primary);
    color: var(--secondary-clr);
    padding-block: var(--pt);
    border-radius: 10% 0 0 0;

    & .container-xl{
        padding-inline: var(--px);

        & blockquote{

            & q{
                font-size: var(--fs-lg);
            }

            & p{
                text-align:right;
                margin-top: 1rem;
            }
        }
    } 
}

@media screen and (max-width: 767px) {
    .testimonial .container-xl blockquote p{
        text-align: center;
    }
}


/* cta section */

.cta-section{
    padding-block: var(--pt);

    & .cta{
        background-color: var(--accent-clr);
        color: var(--secondary-clr);
        border-radius: .5rem;

        & .container-md{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 2rem;

            & .cta-text{
                & h3{
                    font-size: var(--fs-md);
                    margin-bottom: 1rem;
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .cta-section .cta .container-md{
        flex-direction: column;
        gap: 1.5rem;
        
        & .cta-text{
            text-align: center;
        }
    }    
}

/* footer */
footer{
    padding: 4rem 0;
    background-color: var(--primary);
    color:var(--secondary-clr);

    & .container-xl{
        padding-inline: var(--px);

        & h3{
            font-size: var(--fs-md);
            text-align: center;
        }
    }
}
